html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  background-color: black;
  display: flex;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.logo span {
  margin: 0.66rem 0;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
}

.bannerText {
  color: white;
  background-color: black;
  padding: 2rem 3rem;
  width: 20rem;
  position: relative;
  top: 9rem;
  font-weight: bold;
}


.bannerText h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  background-color: firebrick;
  color: white;
}

.menu {
  display: none;
  margin: 0 auto;
}

.items {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 30%
}

.itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  border: 4px solid black;
  height: 9rem;
}

.itemImage img {
  max-width: 8rem;
}

.itemDesc {
  background-color: black;
  color: white;
  padding: 0.5rem;
  display: block;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.infoBox {
  width: 35%;
}

.infoBox .infoHead {
  background-color: black;
  display: block;
  padding: 1em 2em;
  color: white;
}

footer {
  background-color: black;
  margin: 4rem 0 0 0;
}

.copy {
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.copy span {
  padding: 5rem 0;
}

@media only screen and (max-width: 1024px) {

  ul.container li:nth-child(1n+2) {
    display: none;
  }

  ul.container li:nth-child(1) {
    display: list-item;
  }

  .item {
    width: 47%;
  }

  .item.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

}
